.p-datatable .p-column-header-content {
    justify-content: start !important;
}
.modal-preview-reporte {
    margin-bottom: 1.5rem !important;
}
.resultado-bolitas {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30rem;
}
.mb-3 .select-filtro .p-dropdown-label {
    border: 0 solid !important;
}